@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  place-items: center;
  background: linear-gradient(315deg, #ffffff, #d7e1ec);
  text-align: center;
  font-family: "Chakra Petch", sans-serif;
}
.text {
  font-size: 90px;
}
/* button{
    height: 40px;
    padding: 0 30px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 15px 20px rgba(#777, 0.5);
    z-index: 3;
    color: #111;
    background-color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    transition: all 0.3s ease;
    margin: 15px;
} */
@property --d {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}
button {
  width: 150px;
  aspect-ratio: 1;
  font-size: 30px;
  color: #111;
  background: none;
  border: none;
  border-radius: 20px;
  position: relative;
  z-index: 0;
  transition: 0.3s;
  cursor: pointer;
  top: 30px;
}
button:before {
  content: "";
  position: absolute;
  inset: -8px;
  padding: 8px;
  border-radius: 28px;
  background: conic-gradient(
    from var(--d, 0deg),
    rgba(242, 138, 46, 1),
    #0000 30deg 120deg,
    rgba(97, 133, 204, 1),
    #0000 210deg 300deg,
    rgba(242, 138, 46, 1) 330deg
  );
  -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: intersect;
}
button:after {
  content: "";
  position: absolute;
  inset: -100px;
  background: radial-gradient(
      80px at left 150px top 120px,
      rgba(242, 138, 46, 1) 98%,
      #0000
    ),
    radial-gradient(
      80px at right 150px bottom 120px,
      rgba(97, 133, 204, 1) 98%,
      #0000
    );
  filter: blur(60px);
  opacity: 0.5;
}

button:before,
button:after {
  transition: 0.5s, 99999s 99999s transform, 99999s 99999s --d;
}
button:hover {
  box-shadow: 0 0 0 1px #666;
}

button:hover:after {
  transform: rotate(3600deg);
  transition: 0.5s, 60s linear transform;
}
button:hover:before {
  --d: 3600deg;
  transition: 0.5s, 60s linear --d;
}
button:hover:before {
  background-color: #222;
}
